# NOTE: These are mainly just for the BazelCI setup so they don't have
# to be repeated multiple times in .bazelci/presubmit.yml.

# Force the tests to not run in sandboxed mode, since it can introduce
# errors and flakes.
test --spawn_strategy=local

# Add the PATH to the test environment so that common macOS tools can be found
# during a test run.
test --test_env=PATH

# `bazel test` tries to build everything also by default, so skip that so the
# *_library targets in examples/... aren't built (and fail since they are
# platform specific).
test --build_tests_only

# TODO(https://github.com/bazelbuild/bazel/issues/7130): Remove this flag when
# visibility and symbol import issues are resolved.
build --nocheck_visibility

# Flag used to enable transitions on Starlark rules. Required for now for
# Starlark-based tests. Use `build` instead of `test` since we also build the
# tests in BuildKite (blacklisting groups of targets doesn's seem to work in
# .bazelci/presubmit.yml).
# TODO(b/133755914): Remove this flag once it is flipped to true by default.
build --experimental_starlark_config_transitions

# Disable the Swift compilation worker when running integration tests, since it
# requires the protobuf dependency, and because Bazel dependency management is
# awful/non-existent, we can get away with not declaring protobuf's transitive
# dependencies. This is very much a hack and leaves rules_apple (and dependents)
# in a very brittle state, but until Bazel provides a better dependency management
# solution, this is the path of least resistance to get integration tests working.
# TODO(b/134144964): Formality to track removing this, but we all know it'll be
# here forever.
build --define=RULES_SWIFT_BUILD_DUMMY_WORKER=1
build --strategy=SwiftCompile=local
