# NOTE: These are mainly just for the BazelCI setup so they don't have
# to be repeated multiple times in .bazelci/presubmit.yml.

# https://github.com/bazelbuild/bazel/issues/16729
build --experimental_strict_conflict_checks

# https://github.com/bazelbuild/stardoc/issues/112
common --incompatible_allow_tags_propagation

# TODO: Fix cases that relied on the old behavior and remove this flag.
common --incompatible_unambiguous_label_stringification=false

# Add the PATH to the test environment so that common macOS tools can be found
# during a test run.
build --test_env=PATH

# `bazel test` tries to build everything also by default, so skip that so the
# *_library targets in examples/... aren't built (and fail since they are
# platform specific).
test --build_tests_only

# TODO(https://github.com/bazelbuild/bazel/issues/7130): Remove this flag when
# visibility and symbol import issues are resolved.
build --nocheck_visibility

# Disable the worker, which has sandboxing disabled by default, which can hide
# issues with non-hermetic bugs.
build --spawn_strategy=sandboxed,local
build --worker_sandboxing=true

# Use llvm-cov instead of gcov (default).
coverage --experimental_use_llvm_covmap

build --enable_platform_specific_config
build:macos --apple_crosstool_top=@local_config_apple_cc//:toolchain
build:macos --crosstool_top=@local_config_apple_cc//:toolchain
build:macos --host_crosstool_top=@local_config_apple_cc//:toolchain
