on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

# NOTE: To avoid listing the same things for build_flags/test_flags for each
# of these tasks, they are listed in the .bazelrc instead.
jobs:
  macos:
    runs-on: macos-15
    strategy:
      matrix:
        bazel:
          - latest
          - last_rc
          - last_green
        xcode:
          - 16.2
      fail-fast: false
    permissions:
      contents: write
    env:
      USE_BAZEL_VERSION: ${{ matrix.bazel }}
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode }}
      - uses: bazel-contrib/setup-bazel@0.14.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
          bazelrc: |
            common --sandbox_debug
            test --test_tag_filters=-skipci
      - name: Bazel Info
        run: |
          bazel version
          bazel info
      - run: bazel build tools/... test/...
      - run: bazel test tools/... test/... examples/...
  doc_tests:
    runs-on: ubuntu-latest
    env:
      # FIXME: Use last_green once we cherry-pick in changes needed by
      # https://github.com/bazelbuild/bazel/commit/b59004dd17366b09b0758b833f98294fd0e89345
      # USE_BAZEL_VERSION: last_green
      USE_BAZEL_VERSION: 21a12c72d84e9108142421d9a8526edf8dceb78c
    steps:
      - uses: actions/checkout@v4
      - uses: bazel-contrib/setup-bazel@0.14.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
          # TODO: Remove this once stardoc is updated to 0.7.1+ (https://github.com/bazelbuild/stardoc/pull/238)
          bazelrc: |
            test --noincompatible_disallow_empty_glob
      - name: Bazel Info
        run: |
          bazel version
          bazel info
      - run: bazel test doc/...
  buildifier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: buildifier
        run: bazel run --enable_bzlmod //.github/workflows:buildifier.check
